---
import Row from './body/Row.astro'
import Column from './body/Column.astro'
import DateColumn from './body/DateColumn.astro'
import type { Expense } from '../../types/ExpenseTrackerTypes'
import { getMonthName, getMonthDay, categoryEmoji } from '../../utils/Utilities'
import { removeExpense } from '../../utils/ApiUtils'
import Trash from '../../icons/Trash.astro'

interface Props {
	expense: Expense
}

const { id, date, description, amount, category } = Astro.props.expense

---

<Row>
	<DateColumn>
		<p class="w-10 text-2xl font-medium text-chestnut-800 dark:text-chestnut-600">{getMonthDay(date)}</p>
		<p class="leading-extra-tight text-chestnut-600 dark:text-chestnut-300">{getMonthName(date)}</p>
	</DateColumn>
	<Column>
		<div class="flex flex-row">
			<span class="pr-2">{categoryEmoji(category)}</span><p
				class="truncate font-light text-chestnut-600 dark:text-chestnut-300"
			>
				{description}
			</p>
		</div>
	</Column>
	<Column>
		<p class="text-end font-medium dark:text-chestnut-100">{amount}€</p>
	</Column>
	<Column>
		<button id={id} class="text-end font-medium dark:text-chestnut-100"><Trash /></p>
	</Column>
</Row>

<script define:vars={{removeExpense}}>
	const tgt = document.getElementsByTagName("button");
	console.log(tgt)
	const id = tgt.item.arguments
	tgt.addEventListener("click", (e) => {
	  e.preventDefault()

	});
  </script>
