---
import type { Loan, Installment } from '../../types/ExpenseTrackerTypes'
interface Props {
	loan: Loan
}

const { startDate, finishDate, description, amount, interest, bank, installments } = Astro.props.loan

function getMonthName(date: Date) {
	return date.toLocaleDateString('default', { month: 'long' }).substring(0, 3).toUpperCase()
}

function getYear(date: Date) {
	return date.getFullYear()
}

function getMonthDay(date: Date) {
	return date.getDate()
}

---

<tr class="border-b-[1px] dark:border-sky-300 hover:bg-slate-200">
	<td class="h-auto pb-14 pl-2 pt-2">
		<div class="w-100 flex flex-col">
			<p class="w-10 text-2xl font-medium text-sky-800 dark:text-sky-500">
				{getMonthDay(startDate)}
			</p>
			<p class="leading-extra-tight text-sky-600 dark:text-sky-300">{getMonthName(startDate)}</p>
			<p class="text-xs leading-normal text-sky-600 dark:text-sky-300">{getYear(startDate)}</p>
		</div>
	</td>
	<td class="pb-14 pl-2 pt-2">
		<div class="w-100 flex flex-col">
			<p class="w-10 text-2xl font-medium text-sky-800 dark:text-sky-500">
				{getMonthDay(finishDate)}
			</p>
			<p class="leading-extra-tight text-sky-600 dark:text-sky-300">{getMonthName(finishDate)}</p>
			<p class="text-xs leading-normal text-sky-600 dark:text-sky-300">{getYear(finishDate)}</p>
		</div>
	</td>
	<td class="pb-14 pl-2 pr-2">
		<div class="flex flex-row">
			<p class="truncate font-light text-sky-600 dark:text-sky-300">
				{description}
			</p>
		</div>
	</td>
	<td class="pb-14 pl-2 pr-2">
		<p class="text-end font-medium dark:text-sky-100">{amount}€</p>
	</td>
	<td class="pb-14 pl-2 pr-2">
		<p class="text-end font-medium dark:text-sky-100">{interest}%</p>
	</td>
    <td class="pb-14 pl-2 pr-2">
		<p class="text-end font-medium dark:text-sky-100">{bank}</p>
	</td>
</tr>