---
import Row from './body/Row.astro'
import DateColumn from './body/DateColumn.astro'
import Column from './body/Column.astro'
import type { Loan } from '../../types/ExpenseTrackerTypes'
import { getMonthName, getYear, getMonthDay } from '../../utils/Utilities'

interface Props {
	loan: Loan
}

const { startDate, finishDate, description, amount, interest, bank, installments } =
	Astro.props.loan

---

<Row>
	<DateColumn>
		<p class="w-10 text-2xl font-medium text-sky-800 dark:text-sky-500">
			{getMonthDay(startDate)}
		</p>
		<p class="leading-extra-tight text-sky-600 dark:text-sky-300">{getMonthName(startDate)}</p>
		<p class="text-xs leading-normal text-sky-600 dark:text-sky-300">{getYear(startDate)}</p>
	</DateColumn>
	<DateColumn>
		<p class="w-10 text-2xl font-medium text-sky-800 dark:text-sky-500">
			{getMonthDay(finishDate)}
		</p>
		<p class="leading-extra-tight text-sky-600 dark:text-sky-300">{getMonthName(finishDate)}</p>
		<p class="text-xs leading-normal text-sky-600 dark:text-sky-300">{getYear(finishDate)}</p>
	</DateColumn>
	<Column>
		<div class="flex flex-row">
			<p class="truncate font-light text-sky-600 dark:text-sky-300">
				{description}
			</p>
		</div>
	</Column>

	<Column>
		<p class="text-end font-medium dark:text-sky-100">{amount}€</p>
	</Column>
	<Column>
		<p class="text-end font-medium dark:text-sky-100">{interest}%</p>
	</Column>
	<Column>
		<p class="text-end font-medium dark:text-sky-100">{bank}</p>
	</Column>
</Row>
